.formats-section {
  &__slider {
    display: flex;
    align-items: center;
    gap: 32px;
    }

    &__container {
      overflow: hidden;
    }

    &__list {
      margin-bottom: 32px;
    }

    &__button {
      display: none;

      @media screen and (min-width: $bp-tablet) {
        display: flex;
      }
    }
}
    
//     &__item {
//       flex-basis: calc((100% - 40px) / 3); // тут це зайве тому що в нас лише секція зі слайдером. Якщо їх багато то так. Наприклад-сайт магазину з каталогами
//     }
// }
  